/*The icon on the top menu - Top Right Corner*/
.user-avatar-icon {
    font-size: 20px;
    vertical-align: middle;
}

.vmiddle {
	vertical-align: middle;
}

.reg-btn {
	width: 100%;
}

.task-icon {
	vertical-align: middle;
}

.menu-ul {
    margin: 0px;
    padding: 0px;
}

.menu-ul li {
	list-style: none;
	margin: 5px 0;
}

.menu-ul li a{
	width: 95%;
}

.menu-ul li button{
	width: 95%;
}

#transfer-form {
	display: none;
}

#pinpurchase-form {
	display: none;
}

#ewallettopup-form {
	display: none;
}

#withdrawal-form {
	display: none;
}

#award-pins-form {
	display: none;
}

#geneology-legend {
	display: none;
	padding-top: 10px;
}

#toggle-legend {
	padding-top: 10px;
}

.text-danger {
    color: #f25656 !important;
}

.text-error {
    color: #f25656 !important;
}

.text-info {
    color: #12AFCB !important;
}

.text-warning {
    color: #e9780a !important;
}

.text-gray {
	color: #ccc !important;
}

.text-l1 {
	color: #F19696 !important;
}

.text-l2 {
	color: #F19696 !important;
}

.text-l3 {
	color: #DF6B26 !important;
}

.text-l4 {
	color: #DF6B26 !important;
}

.text-l5 {
	color: #DF6B26 !important;
}

.text-l6 {
	color: #94A824 !important;
}

.text-l7 {
	color: #94A824 !important;
}

.text-l8 {
	color: #94A824 !important;
}

.text-l9 {
	color: #2BA275 !important;
}

.text-l10 {
	color: #2BA275 !important;
}

.text-info-m {
	color: #2D9BBF !important;
}

/* Add Colour */

.navbar {
    background: #0c2851 !important;
}

.topmenu-outer {
    background: #0c2851;
}

.top-menu .navbar-nav > li > a {
    color: #d2e5fb;
}

.page-inner {
    background: #b4d3ea;
}

.page-breadcrumb, .page-title {
    border-bottom: 1px solid #99c6e6;
}

.navbar .logo-box a {
    color: #7dbbe3;
}

.page-title h3 {
    color: #a88d2e;
}

.panel-blue .text-info {
    color: chartreuse !important;
}